canvas{
    border:solid;
}

#log{
    border:solid 3px gray;
    background: black;
    color: white;
    width:50%;
    margin-top:10px;
}

#help{
    width:50%;
}

#instruction{
    position:absolute;
}

.active, .button:hover{
    position:relative;
    top: -5px;
}
